*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#141414;
color:white;
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:linear-gradient(to bottom, black, transparent);
z-index:100;
}

.nav-left{
display:flex;
align-items:center;
gap:30px;
}

.logo{
width:110px;
}

.nav-left ul{
display:flex;
gap:20px;
list-style:none;
font-size:14px;
}

.nav-left li{
cursor:pointer;
}

.nav-left li:hover{
color:#b3b3b3;
}

.nav-right i{
margin-left:20px;
cursor:pointer;
}

/* HERO */

.hero{
height:95vh;
position:relative;
display:flex;
align-items:center;
padding-left:60px;
overflow:hidden;
}

.hero-video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to right,rgba(0,0,0,0.8),transparent);
z-index:-1;
}

.hero-content{
max-width:500px;
}

.hero h1{
font-size:70px;
color:#e50914;
margin-bottom:20px;
}

.hero p{
margin-bottom:20px;
line-height:1.5;
}

.hero-buttons button{
padding:10px 25px;
border:none;
border-radius:4px;
font-size:16px;
cursor:pointer;
margin-right:10px;
}

.play-btn{
background:white;
}

.info-btn{
background:rgba(109,109,110,0.7);
color:white;
}

/* MOVIE ROW */

.row{
margin-top:40px;
padding-left:60px;
}

.row h2{
margin-bottom:10px;
}

.row-posters{
display:flex;
overflow-x:auto;
gap:15px;
padding:20px 0;
}

.row-posters::-webkit-scrollbar{
display:none;
}

.row-posters img{
width:220px;
border-radius:4px;
transition:0.3s;
cursor:pointer;
}

.row-posters img:hover{
transform:scale(1.25);
z-index:10;
}

/* FOOTER */

.footer{
margin-top:60px;
padding:60px;
color:#757575;
}

.footer-links{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:30px;
}

.footer-links ul{
list-style:none;
}

.footer-links li{
margin-bottom:10px;
cursor:pointer;
}

.footer-links li:hover{
text-decoration:underline;
}

.country{
margin-top:30px;
}